@CHARSET "UTF-8";
body {
    background-image: url("./background.jpg");
    background-repeat: repeat-x;

    font-family: sans-serif;
    font-size: 0.8em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.1em;
}

h1, h2 {
    color: #0a328c;
}
