# Eclipse
.metadata
RemoteSystemsTempFiles/

# Binaires
*.tar.gz
bin/
target/
*.dat
small-install.zip
*.pid
*.access

# Maven (tests)
# pom.xml

# C
*.o
*~

# Python
*.pyc
__pycache__/

# Coverage (Python)
.coverage
htmlcov/

# Sonar
.sonar/
sonar-project.properties

# PSEM2M Compiler
auto_build_psem2m.xml

