<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.psem2m.eclipse.runner.work.RunnerLaunchDelegate"
            id="org.psem2m.eclipse.runner.psem2mLaunchConfigurationType"
            modes="run, debug"
            name="PSEM2M Runner"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.psem2m.eclipse.runner.ui.RunnerTabGroup"
            id="org.psem2m.eclipse.runner.psem2mLaunchConfigurationTabGroup"
            type="org.psem2m.eclipse.runner.psem2mLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
