<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Felix" sequenceNumber="28">
<locations>
<location path="${project_loc:/platforms}/felix" type="Directory"/>
</locations>
<includeBundles>
<plugin id="org.apache.felix.framework"/>
<plugin id="org.apache.felix.ipojo"/>
<plugin id="org.apache.felix.shell"/>
<plugin id="org.apache.felix.log"/>
<plugin id="osgi.cmpn"/>
<plugin id="org.apache.felix.gogo.command"/>
<plugin id="org.apache.felix.http.jetty"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.apache.felix.gogo.runtime"/>
</includeBundles>
</target>
